# Конфигурация линковки для NROM-256 (mapper 0) без внешнего ОЗУ картриджа.
# Раскладка памяти NES:
#   $0000-$00FF  нулевая страница (cc65: $0002+, адрес $0000-$0001 — указатель стека cc65)
#   $0100-$01FF  аппаратный стек процессора
#   $0200-$02FF  теневой буфер спрайтов (копируется в PPU через DMA)
#   $0300-$04FF  переменные программы (DATA/BSS)
#   $0500-$07FF  программный стек cc65
MEMORY {
    ZP:     file = "", start = $0002, size = $00FE, type = rw, define = yes;

    # заголовок картриджа iNES
    HEADER: file = %O, start = $0000, size = $0010, fill = yes;

    # 32 КБ программного ПЗУ
    ROM0:   file = %O, start = $8000, size = $7FFA, fill = yes, define = yes;

    # векторы прерываний в самом конце ПЗУ
    ROMV:   file = %O, start = $FFFA, size = $0006, fill = yes;

    # 8 КБ графического ПЗУ (плитки)
    ROM2:   file = %O, start = $0000, size = $2000, fill = yes;

    RAM:    file = "", start = $0300, size = $0200, define = yes;
    STACK:  file = "", start = $0500, size = $0300, define = yes;
}
SEGMENTS {
    ZEROPAGE: load = ZP,     type = zp;
    HEADER:   load = HEADER, type = ro;
    STARTUP:  load = ROM0,   type = ro,  define   = yes;
    CODE:     load = ROM0,   type = ro,  define   = yes;
    RODATA:   load = ROM0,   type = ro,  define   = yes;
    DATA:     load = ROM0,   run = RAM,  type = rw,  define = yes;
    BSS:      load = RAM,    type = bss, define = yes;
    CHARS:    load = ROM2,   type = rw;
    VECTORS:  load = ROMV,   type = rw;
}
